body {
  margin: 0; /*You can change this if need be, but this is standard, so I've went ahead and put this here.*/
}

#portfolioWrapper {
  width: 100%;
  min-height: 200px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolioCard {
  height: 200px;
  width: 200px;
  margin: 25px auto 0 auto;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardTitle{
  margin: 5px auto;
}

.cardImage {
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 180px;
  margin: 5px auto;
}

#portfolioItems {
  display: none; /*We don't want this to be seen*/
}

.cardShadow {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}